@use "../../styles/variables.scss";

.unauthPage {
  margin-top: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  background-color: variables.$secondary-background-color;
  border-radius: 20px;
}
